{% extends error|yesno:"garments/base_visitor.html,garments/base.html" %}
{% load static %}


{% block title %} Item Store: DGarments {% endblock %}

{% block head %} 
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% endblock %}

{% block SecHeader %} 
	<div class='jumbotron header' style='color:white; background-color: rgb(0,0,0);border: 0;margin: 0;padding: 1% 5% 1% 5%;'>
		<!-- <div class=""> -->
		<h2>Happy Shopping</h2>
		<small>Please feel free to use all of our features and offers.</small>
		<!-- </div> -->
    </div>
{% endblock %}    



<!-- header -->
{% block Name %} {{ first_name }} {% endblock %}


{% block cart_descriptor %}
[
	{% if cart_items %}
		{{ cart_items|length }} 
	{% else %}
		0
	{% endif %}
]
{% endblock %}


{% block nav_options %}
	{% if admin == "True" %}
		<li><a href="{% url 'garments:admin_home' %}" >Administrator</a></li>
	{% endif %}
{% endblock %}
<!-- //header -->





{% block style %} 
	#main{
		display: -webkit-flex; /* Safari */
    	-webkit-flex-wrap: wrap; /* Safari 6.1+ */
    	display: flex;
    	flex-wrap: wrap;
    }

    #main div {
	    display: inline-block;
    	width: 500px;
    	height: 500px;
    	margin-top:20px;
    	border: 2px blue;
	}
{% endblock %}


{% block body %}
	<div class='row'>
		<div class="col-md-1"> </div>
		<div class="col-md-10">
			<div class="thumbnail"  style='margin-top:1%;margin-bottom:5%;padding:5%;box-shadow: 0 0 1px blue;width:103%;'>
				<div style='text-align:center;'>
					<h2 style='color:rgb(0,100,180);'>{{ item.type_of_item }}</h2>
					<h4><u>Item Details</u></h4>
				</div><br>

				<div class='row'>
					<div class="col-md-6">

						{% if item.photo %}
						<div style='text-align:center;'>
							<img class="img-fluid" style='max-width: 100%; height: auto;' src="/static/garments/images/img-{{ item.id }}.jpg">
						</div>						
						{% else %}
							<img class="img-fluid" style='max-width: 100%; height: auto;' src="{% static 'garments/images/default.jpg' %}">
						{% endif %}

					</div>
					<div class="col-md-6"> 
						<strong class='col-md-4'>Brand</strong>:&nbsp; {{ item.brand }} <br>
						<strong class='col-md-4'>Size</strong>:&nbsp; {{ item.size }} <br>
						<strong class='col-md-4'>Item Left in Stock</strong>:&nbsp; {{ item.quantity }} pieces only <br>
						<strong class='col-md-4'>MRP</strong>:&nbsp; {{ item.mrp }} Rs. <br>
						<strong class='col-md-4'>discount</strong>:&nbsp; {{ item.discount }} Rs. <br>
						<strong class='col-md-4'>Final Price</strong>:&nbsp; {{ final_price }} Rs. <br><br><br>
						<form action='{% url "garments:add_to_cart" item.id %}' method='post'>
							{% csrf_token %}
							Quantity: <input type="text" name="quantity" value="1" size=5><br><br>						
							<input class='btn btn-primary' type="submit" value="Add to cart">
						</form>
					</div>
				</div>

				<br><br><br>
				<div style='text-align:center;'>
					<h4><u>Item Feedbacks</u></h4>
				</div><br><br>

				{% for f in feedbacks %}
				<div class='row'>
					<div class='col-sm-3'><strong>{{ f.username }}</strong><br>Votes: {{ f.vote }}<br><small>{{ f.feedback_date_time }}</small></div>
					<div class='col-sm-9'>
						<p>{{ f.feedback_text }}</p>
					</div>
				</div>
				<br>
				{% endfor %}


				{% if error %}
				<br>
				{% else %}
				<div class='row'>
					<div class='col-sm-3'><strong>{{ username }}</strong></div>
					<div class='col-sm-9'>
						<textarea style='width:100%;' name="feedback" form="comment_form">	</textarea>
						<form id='comment_form' onsubmit="return validateForm()" class="form-horizontal" action="{% url 'garments:add_feedback' item.id %}" method='post' >
							{% csrf_token %}
							<input style='float:right;' type='submit' class='btn btn-primary' value='Give Feedback' style='margin-top: 20px;'>
						</form>
					</div>
				</div>
				{% endif %}
			</div>
		</div>
		<div class="col-md-1"> </div>

	</div>
{% endblock %}


