{% extends error|yesno:"garments/base_visitor.html,garments/base.html" %}
{% load static %}


{% block title %} Home: DGarments {% endblock %}
{% block SecHeader %} {% endblock %}

{% block style %} 
	#main{
		display: -webkit-flex; /* Safari */
    	-webkit-flex-wrap: wrap; /* Safari 6.1+ */
    	display: flex;
    	flex-wrap: wrap;
    }

    #main div {
	    display: inline-block;
    	width: 200px;
    	height: 350px;
    	margin-top:20px;
    	border: 2px blue;
	}
	.alert {
	    padding: 20px;
	    background-color: #f44336;
	    color: white;
	    opacity: 1;
	    transition: opacity 0.6s;
	    margin-bottom: 15px;
	}

	.closebtn {
	    margin-left: 15px;
	    color: white;
	    font-weight: bold;
	    float: right;
	    font-size: 22px;
	    line-height: 20px;
	    cursor: pointer;
	    transition: 0.3s;
	}

	.closebtn:hover {
	    color: black;
	}
{% endblock %}


<!-- header -->
{% block Name %} {{ first_name }} {% endblock %}

{% block cart_descriptor %}
[
	{% if cart_items %}
		{{ cart_items|length }} 
	{% else %}
		0
	{% endif %}
]
{% endblock %}


{% block nav_options %}
	{% if admin == "True" %}
		<li><a href="{% url 'garments:admin_home' %}" >Administrator</a></li>
	{% endif %}
{% endblock %}
<!-- //header -->







{% block body %} 

<!-- Error Message -->
{% if error_message %}
	<div class="alert">
	  <span class="closebtn">&times;</span>  
	  <strong>Error!</strong> {{ error_message }}
	</div>

	<script>
		var close = document.getElementsByClassName("closebtn");
		var i;

		for (i = 0; i < close.length; i++) {
		    close[i].onclick = function(){
		        var div = this.parentElement;
		        div.style.opacity = "0";
		        setTimeout(function(){ div.style.display = "none"; }, 600);
		    }
		}
	</script>
{% endif %}
<!-- //Error Message -->


<div>
	<div class='row'>
		<div class="col-md-1"> </div>
		<div class="col-md-10">
			<div class="thumbnail"  style='margin-top:1%;margin-bottom:5%;padding:5%;box-shadow: 0 0 1px blue;width:103%;'>

			<div style='text-align:center;'>
				<h2 style='color:rgb(0,100,180);'>Add Items</h2>
			</div>			

		      <form class="form-horizontal"  method='post' enctype='multipart/form-data' >
			    {% csrf_token %}
			    <div class="form-group">
			      <label class="control-label col-sm-2" for="id">Item Id:</label>
			      <div class="col-sm-10">
			        <input type="text" name='id' pattern='[0-9]+' class="form-control" id="id" placeholder="Enter Item ID (only in case you wish to modify an Item)" {% if id %} value='{{ id }}' {% endif %}>
			      </div>
		  	    </div>
		  	     <div class="form-group">
			      <label class="control-label col-sm-2" for="type_of_item">Item Type:</label>
			      <div class="col-sm-10">
			        <input type="text" name='type_of_item' class="form-control" id="type_of_item" placeholder="Enter Item Type" {% if type_of_item %} value='{{ type_of_item }}' {% endif %} required>
			      </div>
		  	    </div>
			    <div class="form-group">
			      <label class="control-label col-sm-2" for="brand">Brand:</label>
			      <div class="col-sm-10">
			        <input type="text" name='brand' class="form-control" id="brand" placeholder="Enter Brand" {% if brand  %} value='{{ brand }}' {% endif %} required>
			      </div>
		  	    </div>
			    <div class="form-group">
			      <label class="control-label col-sm-2" for="size">Size:</label>
			      <div class="col-sm-10">
			        <input type="text" name='size' class="form-control" id="size" placeholder="Enter Size" {% if size %} value='{{ size }}' {% endif %}>
			      </div>
		  	    </div>
			    <div class="form-group">
			      <label class="control-label col-sm-2" for="quantity">Quantity:</label>
			      <div class="col-sm-10">
			        <input type="number" name='quantity' pattern='[0-9]+' class="form-control" id="quantity" placeholder="Enter Quantity" {% if quantity %} value='{{ quantity }}' {% endif %} required>
			      </div> 	
			    </div>
			    <div class="form-group">
			      <label class="control-label col-sm-2" for="cost_price_pi">Cost Price Per Item:</label>
			      <div class="col-sm-10">
			        <input type='text' name='cost_price_pi'  pattern='[0-9]+' class="form-control" id="cost_price_pi" placeholder="Enter Cost Price Per Item" {% if cost_price_pi %} value='{{ cost_price_pi }}' {% endif %} required>
			      </div>
			    </div>    
			    <div class="form-group">
			      <label class="control-label col-sm-2" for="mrp">MRP:</label>
			      <div class="col-sm-10">
			        <input type='text' name='mrp' class="form-control" pattern='[0-9]+' id="mrp" placeholder="Enter MRP" {% if mrp %} value='{{ mrp }}' {% endif %} required>
			      </div>
			    </div>    
			    <div class="form-group">
			      <label class="control-label col-sm-2" for="discount">Discount:</label>
			      <div class="col-sm-10">
			        <input type='text' name='discount' pattern='[0-9]+' class="form-control" id="discount" placeholder="Enter Item Discount (per Item)" {% if discount %} value='{{ discount }}' {% endif %}>
			      </div>
			    </div>
			    <div class="form-group">
			      <label class="control-label col-sm-2" for="target_people_group">Target Customers:</label>
			      <div class="col-sm-10">
			        <input type='text' name='target_people_group' class="form-control" id="target_people_group" placeholder="Enter Target Customers (Prefere Camel Casing)" {% if target_people_group %} value='{{ target_people_group }}' {% endif %} >
			      </div>
				</div>

			    <div class="form-group">
			      <label class="control-label col-sm-2" for="target_people_group">Upload Image File:</label> 
			      <div class="col-sm-10">
			        <input type="file" name='photo' class="btn btn-warning" required>
			      </div>
			    </div>
			    
			    <div class="form-group">
			    	<div class='col-md-6'>
						<div style='text-align:center;'>

							<button formaction="{% url 'garments:insert_item' %}" type='submit' name='add' class='btn btn-primary' value='Add Item' style='margin-top: 20px;'>Add Item</button>
						</div>
					</div>	

					<div class='col-md-6'>
						<div style='text-align:center;'>
						<button formaction="{% url 'garments:modify_item' %}" type='submit' name='add' class='btn btn-primary' value='Add Item' style='margin-top: 20px;'>Add Item</button>
						</div>
					</div>

			  </form>






			<div style='text-align:center;'>
				<h2 style='color:rgb(0,100,180);'>Add Items</h2>
			</div>			

		      <form class="form-horizontal"  method='post' enctype='multipart/form-data' >
			    {% csrf_token %}
			    <div class="form-group">
			      <label class="control-label col-sm-2" for="id">Item Id:</label>
			      <div class="col-sm-10">
			        <input type="text" name='id' pattern='[0-9]+' class="form-control" id="id" placeholder="Enter Item ID (only in case you wish to modify an Item)">
			      </div>

			    
			    <div class="form-group">
					<div class='col-md-12'>
						<div style='text-align:center;'>
						<button formaction="{% url 'garments:modify_item_page' %}" type='submit' name='add' class='btn btn-primary' value='Add Item' style='margin-top: 20px;'>Add Item</button>
						</div>
					</div>
			    </div>
			  </form>













			</div>
		</div>
	</div>
</div>

{% endblock %}
