{% extends error|yesno:"garments/base_visitor.html,garments/base.html" %}
{% load static %}


{% block title %} Home: DGarments {% endblock %}
{% block SecHeader %} {% endblock %}

{% block style %} 
	#main{
		display: -webkit-flex; /* Safari */
    	-webkit-flex-wrap: wrap; /* Safari 6.1+ */
    	display: flex;
    	flex-wrap: wrap;
    }

    #main div {
	    display: inline-block;
    	width: 200px;
    	height: 350px;
    	margin-top:20px;
    	border: 2px blue;
	}
	.alert {
	    padding: 20px;
	    background-color: #f44336;
	    color: white;
	    opacity: 1;
	    transition: opacity 0.6s;
	    margin-bottom: 15px;
	}

	.closebtn {
	    margin-left: 15px;
	    color: white;
	    font-weight: bold;
	    float: right;
	    font-size: 22px;
	    line-height: 20px;
	    cursor: pointer;
	    transition: 0.3s;
	}

	.closebtn:hover {
	    color: black;
	}
{% endblock %}


<!-- header -->
{% block Name %} {{ first_name }} {% endblock %}

{% block cart_descriptor %}
[
	{% if cart_items %}
		{{ cart_items|length }} 
	{% else %}
		0
	{% endif %}
]
{% endblock %}


{% block nav_options %}
	{% if admin == "True" %}
		<li><a href="{% url 'garments:admin_home' %}" >Administrator</a></li>
	{% endif %}
{% endblock %}
<!-- //header -->







{% block body %} 

<!-- Error Message -->
{% if error_message %}
	<div class="alert">
	  <span class="closebtn">&times;</span>  
	  <strong>Error!</strong> {{ error_message }}
	</div>

	<script>
		var close = document.getElementsByClassName("closebtn");
		var i;

		for (i = 0; i < close.length; i++) {
		    close[i].onclick = function(){
		        var div = this.parentElement;
		        div.style.opacity = "0";
		        setTimeout(function(){ div.style.display = "none"; }, 600);
		    }
		}
	</script>
{% endif %}
<!-- //Error Message -->


<div>
	<div class='row'>
		<div class="col-md-1"> </div>
		<div class="col-md-10">
			<div class="thumbnail"  style='margin-top:1%;margin-bottom:5%;padding:5%;box-shadow: 0 0 1px blue;width:103%;'>

			<div style='text-align:center;'>
				<h2 style='color:rgb(0,100,180);'>Add Order</h2>
			</div>			

		      <form class="form-horizontal"  method='post' >
			    {% csrf_token %}

			    <div class="form-group">
			      <label class="control-label col-sm-2" for="reference_phone_no">Reference Phone No:</label>
			      <div class="col-sm-10">
			        <input type="tel" name='reference_phone_no' class="form-control" id="reference_phone_no" placeholder="Enter Phone No." required>
			      </div> 	
			    </div>
			    <div class="form-group">
			      <label class="control-label col-sm-2" for="reference_address">Reference Address:</label>
			      <div class="col-sm-10">
			        <input type='text' name='reference_address' class="form-control" id="reference_address" placeholder="Enter Reference Address" required>
			      </div>
			    </div>    
			    <div class="form-group">
			      <label class="control-label col-sm-2" for="customer_id">Customer ID:</label>
			      <div class="col-sm-10">
			        <input type='text' name='customer_id' class="form-control" id="customer_id" placeholder="Enter Customer ID">
			      </div>
			    </div>

			    <div class="form-group">
					<div class='col-md-6'>
						<div style='text-align:center;'>
							<button formaction="{% url 'garments:modify_order' %}" type='submit' name='modify' class='btn btn-primary' value='Modify Order' style='margin-top: 20px;'>Modify Order</button>
						</div>
					</div>
			    </div>

			</div>
		</div>
	</div>
</div>

{% endblock %}


